[submodule "static/tile"]
	path = static/tile
	url = https://github.com/Axenide/tile.git
[submodule "static/piano"]
	path = static/piano
	url = https://github.com/Axenide/piano
[submodule "static/xp"]
	path = static/xp
	url = https://github.com/Axenide/XP
