<style type="text/css">
  :root {
    --alert-note-title: "{{< translate key='alert_note' default='Note' language_strings={language_strings} lang={lang} />}}";
    --alert-tip-title: "{{< translate key='alert_tip' default='Tip' language_strings={language_strings} lang={lang} />}}";
    --alert-important-title: "{{< translate key='alert_important' default='Important' language_strings={language_strings} lang={lang} />}}";
    --alert-warning-title: "{{< translate key='alert_warning' default='Warning' language_strings={language_strings} lang={lang} />}}";
    --alert-caution-title: "{{< translate key='alert_caution' default='Caution' language_strings={language_strings} lang={lang} />}}";
  }
</style>
