@use "../abstracts/functions" as *;

#banner {
  --mask: linear-gradient(black calc(100% - 2rem), transparent);
  -webkit-mask-image: var(--mask);
  display: flex;
  grid-area: banner;
  justify-content: center;
  mask-image: var(--mask);
  margin-block-end: -2rem;
  padding-block: 3rem 2rem;
  width: 100%;

  div {
    position: relative;
    margin-inline: 1rem;
    aspect-ratio: 2 / 1;
    width: 100%;
    max-width: var(--content-width);
  }

  img {
    position: absolute;
    margin: 0;
    inset: 0;
    border-radius: 0.75rem 0.75rem 0 0 !important;
    aspect-ratio: 2 / 1;
    width: 100%;
    object-fit: cover;
  }

  img:nth-of-type(1) {
    opacity: 0;
    z-index: -1;
    filter: none;
    inset-block-start: 1rem;
  }

  img:nth-of-type(2) {
    transform-origin: bottom;
    filter: none;
    animation: none;
  }

  &.has-shadow img:nth-of-type(2) {
    filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.3));
  }

  & + #main-content {
    padding-block-start: 0;

    article > h1:first-of-type,
    h1:first-of-type {
      margin: 0;
      margin-block-end: 1rem;
      border-radius: 0;
      padding: 0;
      width: unset;
      -webkit-backdrop-filter: none;
      backdrop-filter: none;
      animation: none;
      box-shadow: none;
      background-image: none;
      text-decoration: none;
    }
  }
}
