.fancy-list ul {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	margin-block: 1rem;
	padding-inline-start: 0;
	list-style: none;

	li {
		margin-block: 0;
		box-shadow: var(--edge-highlight);
		border-radius: var(--rounded-corner-small);
		background-color: var(--bg-muted-1);
		padding: 0.5rem 0.75rem;
	}
}

#main-content .fancy-list:not(.snug-nook):not(.online):not(.games) ul li,
#main-content .fancy-list:not(.snug-nook):not(.online):not(.games) ul a {
	border: 1px solid var(--aero-border);
	border-radius: 0.75rem;
	background-color: transparent;
	background-image: var(--aero-sidebar);
}

#main-content .fancy-list:not(.online):not(.games) ul a:hover {
	border-color: var(--border-strong);
}
