@use "../abstracts/functions" as *;

.pre-container {
  position: relative;
  margin: 1rem 0 1rem;
  border: 1px solid var(--codeblock-border);
  box-shadow: none;
  overflow: hidden;
  border-radius: var(--rounded-corner);
  background-color: var(--codeblock-bg);
  font-size: 0.875rem;

  &::after {
    position: absolute;
    inset: 0;
    box-shadow: none;
    border-radius: inherit;
    pointer-events: none;
    content: "";
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);
    border-block-end: 1px solid var(--codeblock-border);
    background-color: var(--codeblock-header-bg);
    background-image: none;
    color: var(--fg-muted-2);
    border-radius: var(--rounded-corner) var(--rounded-corner) 0 0;
    padding: 0.25rem;

    html[data-theme="light"] & {
      color: var(--codeblock-header-fg);
    }

    &:not(.z-code) {
      button:hover {
        background-color: var(--bg-muted-1);
      }

      &.active {
        button {
          background-color: var(--bg-muted-1);
        }
      }
    }

    span {
      margin-inline-start: 0.75rem;
      font-weight: var(--font-weight-semi-bold);
    }

    button {
      position: relative;
      transition:
        all var(--transition),
        transform var(--transition-bezier);
      cursor: pointer;
      box-shadow: none;
      border-radius: var(--rounded-corner-small);
      background-color: transparent;
      padding: 0.5rem;
      color: inherit;
      line-height: 0;

      &:hover {
        box-shadow: var(--edge-highlight);
        background-color: var(--bg-muted-neutral-1);
      }

      &:active {
        transform: var(--active);
      }

      &:disabled {
        cursor: not-allowed;

        &:active {
          transform: none;
        }
      }

      .icon {
        transition:
          all var(--transition-longer),
          transform var(--transition-bezier-longer);
        font-size: 1rem;

        &.copy {
          --icon: var(--icon-copy);
          transform-origin: bottom left;
        }

        &.check {
          --icon: var(--icon-check-square-offset);
          position: absolute;
          transform: scale(0.5);
          transform-origin: top right;
          opacity: 0;
          inset: 0.5rem;
        }
      }
    }

    &.active {
      animation: active-shimmer var(--transition-long);

      button {
        opacity: 1;

        .icon.copy {
          transform: scale(0.5);
          opacity: 0;
        }

        .icon.check {
          transform: none;
          opacity: 1;
        }
      }

      @keyframes active-shimmer {
        to {
          background-position-x: -200%;
        }
      }
    }
  }

  pre {
    margin: 0;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
}
