textarea {
  appearance: none;
  border: 2px solid var(--surface-border);
  box-shadow: none;
  border-radius: var(--rounded-corner);
  background-color: var(--surface-item);
  padding: 1rem;
  resize: none;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;

  &::placeholder {
    opacity: 1;
    color: var(--fg-muted-1);
  }
}
