@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;

#online-indicator {
	@include chip;
	@include aero-sheen;
	display: inline-block;
	border-radius: 0.75rem;
	box-shadow: none;
	color: var(--fg-muted-2);
	font-weight: var(--font-weight-semi-bold);

	&.online {
		@include aero-sheen($tint: var(--green-fg));
		background-color: var(--green-bg-1);
		color: var(--green-fg);

		.icon {
			--icon: var(--icon-circle);
		}
	}

	&.idle {
		@include aero-sheen($tint: var(--yellow-fg));
		background-color: var(--yellow-bg-1);
		color: var(--yellow-fg);

		.icon {
			--icon: var(--icon-moon);
		}
	}

	&.dnd {
		@include aero-sheen($tint: var(--red-fg));
		background-color: var(--red-bg-1);
		color: var(--red-fg);

		.icon {
			--icon: var(--icon-minus-circle);
		}
	}

	.icon {
		--icon: var(--icon-circle-dashed);
		vertical-align: rpx(-3);
		margin-inline-end: 0.25rem;
	}
}
